<a href="https://colab.research.google.com/github/hari2301/Udemy_100-_Exercises-Python-DataScience/blob/main/Excs(11_20).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**use 'get_dummies()' to change the catogerical variables as numerical**

In [1]:
import pandas as pd


df = pd.DataFrame(data={'weight': [75., 78.5, 85., 91., 84.5, 83., 68.]})
df['weight_cut'] = pd.cut(df['weight'], bins=(60, 75, 80, 95), 
labels=['light', 'normal', 'heavy'])
df=pd.get_dummies(df)
print(df)

   weight  weight_cut_light  weight_cut_normal  weight_cut_heavy
0    75.0                 1                  0                 0
1    78.5                 0                  1                 0
2    85.0                 0                  0                 1
3    91.0                 0                  0                 1
4    84.5                 0                  0                 1
5    83.0                 0                  0                 1
6    68.0                 1                  0                 0

**create a new column 'number' and display the count of each list of a currency column**

In [2]:
import pandas as pd


data_dict = {
    'currency': [['PLN', 'USD'], ['EUR', 'USD', 'PLN', 'CAD'], ['GBP'], ['JPY', 'CZK', 'HUF'], []]
}
df = pd.DataFrame(data=data_dict)
df['number']=df['currency'].apply(len)
print(df)

               currency  number
0            [PLN, USD]       2
1  [EUR, USD, PLN, CAD]       4
2                 [GBP]       1
3       [JPY, CZK, HUF]       3
4                    []       0

**In new column set 1 if PLN avaliable in currency else set 0 **

In [4]:
import pandas as pd


data_dict = {
    'currency': [['PLN', 'USD'], ['EUR', 'USD', 'PLN', 'CAD'], ['GBP'], ['JPY', 'CZK', 'HUF'], []]
}
df = pd.DataFrame(data=data_dict)
df['PLN_flag']=df['currency'].apply(lambda item: 1 if 'PLN' in item else 0)
print(df)

               currency  PLN_flag
0            [PLN, USD]         1
1  [EUR, USD, PLN, CAD]         1
2                 [GBP]         0
3       [JPY, CZK, HUF]         0
4                    []         0

**split the column values with hashtags, drop the empty column that created, give the each value to each column**

In [5]:
import pandas as pd


df = pd.DataFrame(data={'hashtags': ['#good#vibes', '#hot#summer#holiday', '#street#food', '#workout']})
df=df['hashtags'].str.split('#',expand=True)
df=df.drop(columns=[0])
df.columns=['hashtag1','hashtag2','hashtag3']
print(df)

  hashtag1 hashtag2 hashtag3
0     good    vibes     None
1      hot   summer  holiday
2   street     food     None
3  workout     None     None

**create new column 'missing', add the missing values of the rows in new column**

In [7]:
import pandas as pd


df = pd.DataFrame(data={'hashtags': ['#good#vibes', '#hot#summer#holiday', '#street#food', '#workout']})
df = df['hashtags'].str.split('#', expand=True)
df = df.drop(columns=[0])
df.columns = ['hashtag1', 'hashtag2', 'hashtag3']
df['missing']=df.isnull().sum(axis=1)
print(df)

  hashtag1 hashtag2 hashtag3  missing
0     good    vibes     None        1
1      hot   summer  holiday        0
2   street     food     None        1
3  workout     None     None        2

**change the data type of the investment column as 'int'**

In [9]:
import pandas as pd


df = pd.DataFrame(data={'investments': ['100_000_000', '100_000', '30_000_000', '100_500_000']})
df['investments']=df['investments'].astype('int')
print(df)

   investments
0    100000000
1       100000
2     30000000
3    100500000

In [10]:
from sklearn.datasets import load_iris
data=load_iris()
print(data.keys())

dict_keys(['data', 'target', 'target_names', 'DESCR', 'feature_names', 'filename'])

In [11]:
from sklearn.datasets import load_iris


data = load_iris()
print(data['feature_names'])
print(data['target_names'])

['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)']
['setosa' 'versicolor' 'virginica']

In [12]:
from sklearn.datasets import load_iris


data_raw = load_iris()
data=data_raw['data']
target=data_raw['target']
print(data.shape)
print(target.shape)

(150, 4)
(150,)

In [14]:
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split


data_raw = load_iris()
data = data_raw['data']
target = data_raw['target']
data_train,data_test,target_train,target_test=train_test_split(data,target,test_size=0.3)
print(f'data_train shape: {data_train.shape}')
print(f'target_train shape: {target_train.shape}')
print(f'data_test shape: {data_test.shape}')
print(f'target_test shape: {target_test.shape}')

data_train shape: (105, 4)
target_train shape: (105,)
data_test shape: (45, 4)
target_test shape: (45,)